@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Common container */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 32px;
  }
}

.btn-gold {
  padding: 0.4em 1.25em;
  border: 2px solid goldenrod;
  border-radius: 2em;
  color: goldenrod;
}
.btn-gold:hover {
  color: #000;
  color: #fff;
  background: goldenrod;
}
